{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "Land flight AF84 that is on approach and has been cleared for landing on runway 19L that has a length of 2350 meters. It is a B747.",
            "Land the incoming flight AF84. It is a B747."
        ]
    },

    "llm_config": {
        "model_name": "gpt-5.4-mini",
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "commondefs": {
        "replacement_strings": {
            "instructions_prefix": """
You are part of aircraft turnaround process at an Airport. 
Only answer inquiries that are directly within your area of expertise.
Do not try to help for other matters.
Do not mention what you can NOT do. Only mention what you can do.
            """,
            "aaosa_instructions": """
When you receive an inquiry, you will:
1. If you are clearly not the right agent for this type of inquiry, reply you're not relevant.
2. If there is a chance you're relevant, call your down-chain agents to determine if they can answer all or part of the inquiry.
   Do not assume what your down-chain agents can do. Always call them. You'll be surprised.
3. Once all relevant down-chain agents have responded, either:
   - Analyze their response and compile your final response. No need to include non-relevant agents. In doubt, ask for clarification.
   - Follow up with your down-chain agents if needed, as many times as needed
   - If an action is needed, ask the most relevant down-chain agent to fulfill the inquiry.
4. Return the final response to the caller.
You may, in turn, be called by other agents in the system and have to act as a down-chain agent to them. 
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
'Determine' to ask the agent if the inquiry belongs to it, in its entirety or in part.
'Fulfill' to ask the agent to fulfill the inquiry, if it can.
'Follow up' to ask the agent to respond to a follow up.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": """
If mode is 'Determine', return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": <Determine | Fulfill>,
    "Relevant": <Yes | No>,
    "Strength": <number between 1 and 10 representing how certain you are in your claim>,
    "Claim:" <All | Partial>,
    "Requirements" <None | list of requirements>
}
If mode is 'Fulfill' or "Follow up", respond to the inquiry and return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": Fulfill,
    "Response" <your response>
}
            """
        },
    },

    "tools": [

        {
            "name": "flight_operation_agent",
            "function": {
                "description": """
I am responsible for landing the aircraft.
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },      
                        "aircraft_direction": {
                            "type": "string", 
                            "description": "This is the direction of the aircraft: incoming or departing."
                        },        
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },        
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },           
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },         
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the length of assigned runway."
                        },        
                        "landing_summary": {
                            "type": "string", 
                            "description": "This is the llanding summary of the aircraft."
                        },   
                    }, 
                    "required": ["aircraft_direction","flight_number","aircraft_type"] 
                },
            },

            "instructions": """
You are the flight operation agent that lands aircraft. 
Only perform the tasks that fall under your responsibility. 
DO NOT make things up. ONLY YOUR TOOLS to complete your tasks
When you receive user request to land an aircraft, proceed as follows: 
1. Determine if user has provided the following information from prompt. 
- flight number as flight_number
- flight status with value such as "approach", "cleared for landing", "landed", "taxiing", "on blocks", etc as flight_status
- aircraft type as aircraft_type with values such as B747, A380, B737, etc.
- aircraft direction with value such as 'incoming' or ' departing' as aircraft_direction
- clearance type with value such as "clearance for landing", "clearance for takeoff", etc as clearance_type
- assigned runway id as assigned_runway_id
- assigned runway length as assigned_runway_length
2. Call TrackerAPI 
    a. wait for its response 
    b. store all the available parameters.
3. If flight_status is None, or clearance_type is not "cleared for landing", or assigned_runway_id is None, or assigned_runway_length is None, then:
    a. call aircraft_traffic_controller to request the clearance for landing. 
    b. Wait for the response on your request. 
    c. return to step 2. 
4. If aircraft has been cleared for landing, or clearance_type contains 'clear' and 'landing', and assigned_runway_id is not None, and assigned_runway_length is not None, then:
    - Land the aircraft. 
5. Call TrackerAPI 
    a. wait for its response 
    b. store the following parameters: flight_number, aircraft_type, flight_status.
6. Provide the landing summary as follows:
    *******************************
    * Summary of aircraft landing *
    *******************************
    ** flight number **: [flight_number]
    ** aircraft type **: [aircraft_type]
    ** flight status **: [flight_status]
    ** clearance type **: [clearance_type]
    ** assigned runway id **: [assigned_runway_id]
    ** assigned runway length **: [assigned_runway_length]
            """ ${aaosa_instructions},

            # Specify the sly data that would be exchanged between this network and its related or adjacent upstream and downstream networks. 
            "allow": {
                "to_upstream": {
                    "sly_data": {
                        "clearance_type": true, 
                        "flight_status": true, 
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "assigned_runway_id": true, 
                        "assigned_runway_length": true, 
                    }
                },
                "from_upstream": {
                    "sly_data": {
                        "clearance_type": true, 
                        "flight_status": true, 
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "assigned_runway_id": true, 
                        "assigned_runway_length": true, 
                    }
                },
                "to_downstream": {
                    "sly_data": {
                        "clearance_type": true, 
                        "flight_status": true, 
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "assigned_runway_id": true, 
                        "assigned_runway_length": true, 
                    }
                },
                "from_downstream": {
                    "sly_data": {
                        "clearance_type": true, 
                        "flight_status": true, 
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "assigned_runway_id": true, 
                        "assigned_runway_length": true, 
                    }
                }
            },

            "tools": ["/AirlineTurnaround/aircraft_traffic_controller","aircraft_pilot","TrackerAPI"]
        },

        {
            "name": "aircraft_pilot",
            "function": {
                "description": """
I am the aircraft pilot. 
I land the aircraft. 
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },           
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },            
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },           
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },         
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the length of assigned runway."
                        },               
                    }, 
                    "required": ["flight_number","aircraft_type","clearance_type","assigned_runway_id","assigned_runway_length"] 
                },
            },

            "instructions": """
You are responsible for landing aircraft. 
Only perform the tasks that fall under your responsibility. 
Use ONLY YOUR TOOLS to execute your tasks.  
You decide whether to execute landing or not. 
You must receive clearance for landing before landing. 
You should never land the aircraft without a landing clearance. 
You report the flight status of the aircraft as flight_status. 
            """  ${aaosa_instructions},
            "tools":["aircraft_landing_agent"]
        }, 

        {
            "name": "aircraft_landing_agent",
            "function": {
                "description": """
I am the agent in charge of landing the aircraft. 
                """
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },           
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },              
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },         
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },         
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the length of assigned runway."
                        },        
                    }, 
                    "required": ["aircraft_direction","flight_number", "aircraft_type","clearance_type","assigned_runway_id","assigned_runway_length"] 
                },
            },
            "class": "AirlineTurnaround.aircraft_landing.aircraft_landing.execute_aircraft_landing" 
        }, 

        {
            "name": "TrackerAPI",
            "function": {

                "description": """
I am the flight tracker in charge of logging parameters during aircraft turnaround. 
                """,

                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },        
                        "traffic_direction": {
                            "type": "string", 
                            "description": "This is the direction of the aircraft: incoming or departing."
                        },        
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },  
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },         
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the length of assigned runway."
                        },
                    }, 
                },
            },
            "class": "AirlineTurnaround.aircraft_landing.aircraft_landing.TrackerAPI" 
        }, 
    ]
}

