{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "The B747 aircraft of flight AF84 has been assigned gate A1. Report GPU readiness at the gate.", 
        ]
    },

    "llm_config": {
        class = "ollama"
        temperature = 0.0
        model_name = "qwen2.5:32b"  # “gemini-3.1-pro" "gemma4:12b-mlx" "qwen3:8b" "claude-haiku-4-5" "claude-sonnet-4-6"   
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "commondefs": {
        "replacement_strings": {
            "instructions_prefix": """
You are part of aircraft turnaround process at an Airport. 
Only answer inquiries that are directly within your area of expertise.
Do not try to help for other matters.
Do not mention what you can NOT do. Only mention what you can do.
            """,
            "aaosa_instructions": """
When you receive an inquiry, you will:
1. If you are clearly not the right agent for this type of inquiry, reply you're not relevant.
2. If there is a chance you're relevant, call your down-chain agents to determine if they can answer all or part of the inquiry.
   Do not assume what your down-chain agents can do. Always call them. You'll be surprised.
3. Once all relevant down-chain agents have responded, either:
   - Analyze their response and compile your final response. No need to include non-relevant agents. In doubt, ask for clarification.
   - Follow up with your down-chain agents if needed, as many times as needed
   - If an action is needed, ask the most relevant down-chain agent to fulfill the inquiry.
4. Return the final response to the caller.
You may, in turn, be called by other agents in the system and have to act as a down-chain agent to them. 
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
'Determine' to ask the agent if the inquiry belongs to it, in its entirety or in part.
'Fulfill' to ask the agent to fulfill the inquiry, if it can.
'Follow up' to ask the agent to respond to a follow up.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": """
If mode is 'Determine', return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": <Determine | Fulfill>,
    "Relevant": <Yes | No>,
    "Strength": <number between 1 and 10 representing how certain you are in your claim>,
    "Claim:" <All | Partial>,
    "Requirements" <None | list of requirements>
}
If mode is 'Fulfill' or "Follow up", respond to the inquiry and return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": Fulfill,
    "Response" <your response>
}
            """
        },
    },

    "tools": [

        {
            "name": "aircraft_ground_gpu_setup_agent",
            "function": {
                "description": """
 I am in charge of gpu at the gate. 
 I set up GPU and report GPU readiness status when user inquires.
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },          
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aircraft."
                        },       
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate where the aircraft is parked."
                        },             
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },   
                    }, 
                    "required": [] 
                }
            },

            "instructions": """
You are the agent in charge of GPU at the gate.  
When user submit inquiry about GPU, proceed as follows: 
1. Read the inquiry and determine whether the user is inquiring about GPU readiness status or requesting GPU connection to the aircraft. 
2. If the inquiry is not about either of these two, reply that you are not relevant to this inquiry and stop process here.
3. If the inquiry is about GPU readiness status, 
    a. call your tool to inquire about GPU readiness status as gpu_readiness_status,
    b. store the returned gpu_readiness_status 
    c. report its value back to user. 
4. Call TrackerAPI and log all the available parameters. 
    a. wait for its response 
    b. store all the available parameters.
5. Provide the gpu connection status report summary as: 
    *************************************
    * Summary of aircraft gpu readiness *
    *************************************
    ** aircraft_type **: [aircraft_type]
    ** gate id **: [gate_id]
    ** gpu readiness status **: [gpu_readiness_status]
            """ ${aaosa_instructions},

            # Specify the sly data that would be exchanged between this network and its related or adjacent upstream and downstream networks.
            "allow": {
                "to_upstream": {
                    "sly_data": {
                        "gpu_readiness_status": true
                    }
                }
                "from_upstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "gate_id": true
                    }
                }
                "to_downstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "gate_id": true
                    }
                }
                "from_downstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "gate_id": true
                        "gpu_readiness_status": true
                    }
                }
            },

            "tools":    ["gpu_setup","TrackerAPI"]
        },

        {
            "name": "gpu_setup",
            "function": {
                "description": """
This agent report the status of gpu readiness at the gate. 
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },             
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aircraft."
                        },    
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate where the aircraft is parked."
                        },     
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },   
                    }, 
                    "required": [] 
                }
            },
            "class": "AirlineTurnaround.aircraft_ground_gpu_setup.aircraft_ground_gpu_setup.gpu_setup" 
        }, 

        {
            "name": "TrackerAPI",
            "function": {

                "description": """
I am the flight tracker in charge of logging parameters during aircraft turnaround. 
I check engines stop status as engines_stop_status. 
I check wheels chucks installation status as wheels_chucks_installation_status. 
                """

                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },          
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },     
                        "ground_services_request_type": {
                            "type": "string", 
                            "description": "This is the type of the inquiry received for grand services."
                        },         
                        "wheels_chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks readiness status."
                        },   
                        "wheels_chocks_installation_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks installation status."
                        },   
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },     
                        "gpu_connection_status": {
                            "type": "string", 
                            "description": "This is the gpu connection status."
                        },     
                        "engines_stop_status": {
                            "type": "string", 
                            "description": "This is the engines stop status."
                        },    
                        "jetbridge_connection_status": {
                            "type": "string", 
                            "description": "This is the jetbridge connection status."
                        },    
                        "door_opening_status": {
                            "type": "string", 
                            "description": "This is the door opening status."
                        },    
                    }, 
                    "required": [] 
                },
            },
            "class": "AirlineTurnaround.aircraft_ground_gpu_setup.aircraft_ground_gpu_setup.TrackerAPI" 
        }, 
    ],
}