{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "The B747 aircraft of flight AF84 is on blocks at gate A1. Baggages have been unloaded. All passengers have disembarked. The crew has exited the aircraft. Load catering to the aircraft.",
        ]
    },

    "llm_config": {
        "model_name": "gpt-4o",
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "commondefs": {
        "replacement_strings": {
            "instructions_prefix": """
You are part of aircraft turnaround process at an Airport. 
Only answer inquiries that are directly within your area of expertise.
Do not try to help for other matters.
Do not mention what you can NOT do. Only mention what you can do.
            """,
            "aaosa_instructions": """
When you receive an inquiry, you will:
1. If you are clearly not the right agent for this type of inquiry, reply you're not relevant.
2. If there is a chance you're relevant, call your down-chain agents to determine if they can answer all or part of the inquiry.
   Do not assume what your down-chain agents can do. Always call them. You'll be surprised.
3. Once all relevant down-chain agents have responded, either:
   - Analyze their response and compile your final response. No need to include non-relevant agents. In doubt, ask for clarification.
   - Follow up with your down-chain agents if needed, as many times as needed
   - If an action is needed, ask the most relevant down-chain agent to fulfill the inquiry.
4. Return the final response to the caller.
You may, in turn, be called by other agents in the system and have to act as a down-chain agent to them. 
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
'Determine' to ask the agent if the inquiry belongs to it, in its entirety or in part.
'Fulfill' to ask the agent to fulfill the inquiry, if it can.
'Follow up' to ask the agent to respond to a follow up.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": """
If mode is 'Determine', return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": <Determine | Fulfill>,
    "Relevant": <Yes | No>,
    "Strength": <number between 1 and 10 representing how certain you are in your claim>,
    "Claim:" <All | Partial>,
    "Requirements" <None | list of requirements>
}
If mode is 'Fulfill' or "Follow up", respond to the inquiry and return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": Fulfill,
    "Response" <your response>
}
            """
        },
    },

    "tools": [

        {
            "name": "Catering_loading_agent",
            "function": {
                "description": """
 I am in charge of catering loading for the aircraft at the gate. 
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },         
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },        
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate where the aircraft is parked."
                        },       
                        "passenger_disembarkation_status": {
                            "type": "string", 
                            "description": "This is the passenger disembarkation status."
                        },    
                        "crew_exit_status":  {
                            "type": "string", 
                            "description": "This is the crew exit status." 
                        },
                        "baggage_unload_status": {
                            "type": "string", 
                            "description": "This is the baggage unload status."
                        },  
                    }, 
                    "required": ["gate_id","passenger_disembarkation_status","crew_exit_status","baggage_unload_status"]        
                }
            },

            "instructions": """
You are the agent in charge of catering loading to the aircraft. 
When user submits inquiry, proceed as follows: 
1. Determine if the followings are provided by the user: 
    a. passenger disembarkation status as passenger_disembarkation_status with valuesuch as'completed'
    b. crew exit status as crew_exit_status with value such as 'completed' or 'exited' 
    c. baggage unload status as baggage_unload_status with value such as 'completed' or 'unloaded'
    d. gate id as gate_id
    e. flight status as flight_status with value such as 'on blocks' or 'at gate'
    f. flight number as flight_number
    g. aircraft type as aircraft_type
2. Call TrackerAPI and get the latest value of parameters
    a. wait for its response 
    b. store all the available parameters.
3. If passenger_disembarkation_status contains 'completed' and crew_exit_status includes 'completed' and baggage_unload_status includes 'completed' then go to step 6.
4. If passenger_disembarkation_status is not 'completed', or crew_exit_status does not includes 'completed' or 'exited' or baggage_unload_status does not includes 'completed' or 'unloaded'
    a. call your tools to make sure that passenger_disembarkation_status is completed and crew_exit_status is 'completed or 'exited' and baggage_unload_status is 'completed' or 'unloaded'
    b. wait for their responses 
5. Call TrackerAPI
    a. wait for its response 
    b. store passenger disembarkation status as passenger_disembarkation_status, store crew exit status as crew_exit_status, and store baggage unload status as baggage_unload_status. 
    c. If passenger_disembarkation_status is not 'completed', or crew_exit_status does not includes 'completed' or 'exited' or baggage_unload_status does not includes 'completed' or 'unloaded', then go back to step 3.
6. If passenger_disembarkation_status = 'completed' and crew_exit_status includes 'completed' and baggage_unload_status includes 'completed'
    a. call catering_loading_operator to load catering on aircraft
    b. Wait for its response and save it as catering_loading_status
    c. Report catering_loading_status
7. Call TrackerAPI and get the latest value of parameters 
    a. wait for its response 
    b. store all the available parameters.
8. Provide the lavatory service status report summary as: 
    ****************************************
    * Summary of aircraft catering loading *
    ****************************************
    ** flight number **: [flight_number]
    ** aircraft type **: [aircraft_type]
    ** flight status **: [flight_status]
    ** gate id **: [gate_id]
    ** crew exit status **: [crew_exit_status]
    ** passenger disembarkation status **: [passenger_disembarkation_status]
    ** baggage unload status **: [baggage_unload_status]
    ** catering loading service summary **: [catering_loading_status]
            """ ${aaosa_instructions},

            # Specify the sly data that would be exchanged between this network and its related or adjacent upstream and downstream networks. 
            "allow": {
                "to_upstream": {
                    "sly_data": {
                        "catering_loading_status": true
                    }
                }
                "from_upstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "flight_status": true
                        "gate_id": true 
                        "passenger_disembarkation_status": true
                        "crew_exit_status": true
                        "baggage_unload_status": true
                    }
                }
                "from_downstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "flight_status": true
                        "gate_id": true 
                        "passenger_disembarkation_status": true
                        "crew_exit_status": true
                        "baggage_unload_status": true
                    }
                }
                "to_downstream": {
                    "sly_data": {
                        "flight_number": true
                        "aircraft_type": true
                        "flight_status": true
                        "gate_id": true 
                        "passenger_disembarkation_status": true
                        "crew_exit_status": true
                        "baggage_unload_status": true
                    }
                }
            },

            "tools":    ["TrackerAPI","catering_loading_operator","/AirlineTurnaround/aircraft_disembark","/AirlineTurnaround/aircraft_crew_exit","/AirlineTurnaround/aircraft_baggage_unload"]
        },

        {
            "name": "catering_loading_operator",
            "function": {
                "description": """
This agent services catering loading on the aircraft at the gate. 
                """,
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },         
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },        
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate where the aircraft is parked."
                        },    
                        "passenger_disembarkation_status": {
                            "type": "string", 
                            "description": "This is the passenger disembarkation status."
                        },    
                        "crew_exit_status":  {
                            "type": "string", 
                            "description": "This is the crew exit status." 
                        },
                        "baggage_unload_status": {
                            "type": "string", 
                            "description": "This is the baggage unload status."
                        },  
                    }, 
                    "required": ["flight_number", "aircraft_type","gate_id","passenger_disembarkation_status","crew_exit_status","baggage_unload_status"] 
                }
            },
            "class": "AirlineTurnaround.aircraft_catering_loading.aircraft_catering_loading.catering_loading_operator" 
        }, 

        {
            "name": "TrackerAPI",
            "function": {

                "description": """
I am the flight tracker in charge of logging parameters during aircraft turnaround. 
I check passenger disembarkation status as passenger_disembarkation_status. 
I check crew exit status as crew_exit_status. 
I check baggage unload status as baggage_unload_status. 
                """,

                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },          
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },     
                        "ground_services_request_type": {
                            "type": "string", 
                            "description": "This is the type of the inquiry received for grand services."
                        },         
                        "wheels_chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks readiness status."
                        },   
                        "wheels_chocks_installation_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks installation status."
                        },   
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },     
                        "acu_connection_status": {
                            "type": "string", 
                            "description": "This is the acu connection status."
                        },     
                        "gpu_connection_status": {
                            "type": "string", 
                            "description": "This is the gpu connection status."
                        },     
                        "engines_stop_status": {
                            "type": "string", 
                            "description": "This is the engines stop status."
                        },    
                        "jetbridge_connection_status": {
                            "type": "string", 
                            "description": "This is the jetbridge connection status."
                        },    
                        "door_opening_status": {
                            "type": "string", 
                            "description": "This is the door opening status."
                        },    
                        "passenger_disembarkation_status": {
                            "type": "string", 
                            "description": "This is the passenger disembarkation status."
                        },    
                        "crew_exit_status":  {
                            "type": "string", 
                            "description": "This is the crew exit status." 
                        },
                        "baggage_unload_status": {
                            "type": "string", 
                            "description": "This is the baggage unload status."
                        },  
                    }, 
                    "required": [] 
                }
            },
            "class": "AirlineTurnaround.aircraft_catering_loading.aircraft_catering_loading.TrackerAPI" 
        }, 
    ],
}

