{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "The B747 aircraft of flight AF84 has landed on runway 19R. The clearance to taxi in has been granted. Both gpu and the wheels chocks are ready. Please taxi in the plane to gate A1.",
            "The B747 aircraft of flight AF84 has landed on runway 19R. Please taxi in the plane to gate A1.", 
        ]
    },

    "llm_config": {
        "model_name": "gpt-4o",
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "commondefs": {
        "replacement_strings": {
            "instructions_prefix": """
You are part of aircraft turnaround process at an Airport. 
Only answer inquiries that are directly within your area of expertise.
Do not try to help for other matters.
Do not mention what you can NOT do. Only mention what you can do.
            """,
            "aaosa_instructions": """
When you receive an inquiry, you will:
1. If you are clearly not the right agent for this type of inquiry, reply you're not relevant.
2. If there is a chance you're relevant, call your down-chain agents to determine if they can answer all or part of the inquiry.
   Do not assume what your down-chain agents can do. Always call them. You'll be surprised.
3. Once all relevant down-chain agents have responded, either:
   - Analyze their response and compile your final response. No need to include non-relevant agents. In doubt, ask for clarification.
   - Follow up with your down-chain agents if needed, as many times as needed
   - If an action is needed, ask the most relevant down-chain agent to fulfill the inquiry.
4. Return the final response to the caller.
You may, in turn, be called by other agents in the system and have to act as a down-chain agent to them. 
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
'Determine' to ask the agent if the inquiry belongs to it, in its entirety or in part.
'Fulfill' to ask the agent to fulfill the inquiry, if it can.
'Follow up' to ask the agent to respond to a follow up.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": """
If mode is 'Determine', return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": <Determine | Fulfill>,
    "Relevant": <Yes | No>,
    "Strength": <number between 1 and 10 representing how certain you are in your claim>,
    "Claim:" <All | Partial>,
    "Requirements" <None | list of requirements>
}
If mode is 'Fulfill' or "Follow up", respond to the inquiry and return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": Fulfill,
    "Response" <your response>
}
            """
        },
    },

    "tools": [

        {
            "name": "aircraft_taxi_manager",
            "function": {
                "description": """
You are in charge of aircraft taxi in to or out of the gate at the airport. 
                """
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },              
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },  
                        "wheels_chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks readiness status."
                        },   
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },      
                        "ground_clearance_type": {
                            "type": "string", 
                            "description": "This is the ground clearance type of of the aircraft"
                        },  
                        "ground_clearance_status": {
                            "type": "string", 
                            "description": "This is the ground clearance status of the aircraft"
                        },             
                    }, 
                    "required": ["flight_number", "aircraft_type","flight_status","gate_id","ground_clearance_type","ground_clearance_status"] 
                }
            },

            "instructions": """
You are the top-level agent responsible for aircraft taxi at the airport.  
Do not make things up. 
Use your own tools only. 
When you receive a user request to taxi the aircraft, proceed as follows:
1. Determine if the followings information in given in the user prompt. 
    - flight number as flight_number
    - aircraft type as aircraft_type
    - traffic direction as traffic_direction such as 'incoming' or 'departing'
    - flight status as flight_status such as 'landed', 'on blocks', 'off blocks', etc.
    - assigned runway id as assigned_runway_id
    - gate id as gate_id 
    - ground clearance type as ground_clearance_type
    - ground clearance status as ground_clearance_status 
    - ACU readiness as acu_readiness_status
    - GPU readiness as gpu_readiness_status
    - Wheels chocks readiness as wheels_chocks_readiness_status
2. Call TrackerAPI and log all the available parameters.
3. If flight_status is not 'landed' or 'off blocks', then 
    - respond to user that aicraft cannot taxi as flight status is not 'landed' or 'off blocks'.
    - ask the user to confirm that aircraft has landed or is off blocks.
    - return to step 1 above.
4. If ground_clearance_status does not contain 'cleared' and 'taxi', 
    - Call aircraft_ground_traffic to request clearance for taxiing.
    - Wait for the response from aircraft_ground_traffic.
    - return to step 2 above. 
5. If gpu_readiness_status is not ready,
    - Call aircraft_ground_services to request GPU readiness.
    - Wait for the response from aircraft_ground_services.
    - return to step 2 above. 
6. If wheels_chocks_readiness_status is not ready,
    - Call aircraft_ground_services to request wheels chocks readiness.
    - Wait for the response from aircraft_ground_services.
    - return to step 2 above. 
7. If flight_status is not 'landed' or 'off blocks', or ground_clearance_status does not contain 'cleared' and 'taxi', or gpu_readiness_status is not ready or wheels_chocks_readiness_status is not ready,
    - Call you tools to get ground clearance to taxi the aircraft.
    - Wait for the response from your tools.
    - return to step 2 above. 
8. If flight_status is 'landed' or 'off blocks', and ground_clearance_status contains 'cleared' and 'taxi', and gpu_readiness_status is ready, and wheels_chocks_readiness_status is ready,
    - Call aircraft_taxiing_agent to perform the aircraft taxiing operation.
    - Wait for the response from aircraft_taxiing_agent.
9. 2. Call TrackerAPI and log all the available parameters.
    - Display the results as follows:
    ** flight number **: [flight_number]
    ** aircraft type **: [aircraft_type]    
    ** gate id **: [gate_id]    
    ** flight status **: [flight_status] 

            """ ${aaosa_instructions},

            # Specify the sly data that would be exchanged between this network and its related or adjacent upstream and downstream networks. 
            "allow": {
                "to_downstream": {
                    "sly_data": {
                        "aircraft_type": true, 
                        "flight_number": true, 
                        "flight_status": true, 
                        "ground_clearance_type": true, 
                        "gate_id": true, 
                        "assigned_runway_id": true, 
                        "ground_services_inquiry_type": true
                    }
                }
                "from_downstream": {
                    "sly_data": {
                        "gpu_readiness_status": true, 
                        "wheels_chocks_readiness_status": true, 
                        "ground_clearance_type": true, 
                        "ground_clearance_status": true, 
                        "gate_id": true, 
                    }
                }
            },

            "tools":    ["aircraft_taxiing_agent","TrackerAPI","/AirlineTurnaround/aircraft_ground_services","/AirlineTurnaround/aircraft_ground_traffic"], 
        }, 

        {
            "name": "aircraft_taxiing_agent",
            "function": {

                "description": """
I am the pilot in charge of taxiing the aircraft on the ground at the airport. 
                """
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },        
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the status of the aircraft."
                        },        
                        "ground_clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },         
                        "ground_clearance_status": {
                            "type": "string", 
                            "description": "This is the status of clearance given to the aircraft."
                        },       
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },        
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },             
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },       
                        "chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the chocks readiness status."
                        },        
                    }, 
                    "required": ["flight_number", "aircraft_type","ground_clearance_type","ground_clearance_type","flight_status","assigned_runway_id","gate_id","gpu_readiness_status","chocks_readiness_status"] 
                },
            },
            "class": "AirlineTurnaround.aircraft_taxiing.aircraft_taxiing.execute_aircraft_taxiing" 
        }, 

        {
            "name": "TrackerAPI",
            "function": {

                "description": """
I am the flight tracker in charge of logging parameters during aircraft turnaround. 
I check passenger disembarkation status as passenger_disembarkation_status. 
I check crew exit status as crew_exit_status. 
I check baggage unload status as baggage_unload_status. 
                """

                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },          
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },     
                        "ground_services_request_type": {
                            "type": "string", 
                            "description": "This is the type of the inquiry received for grand services."
                        },         
                        "wheels_chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks readiness status."
                        },   
                        "wheels_chocks_installation_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks installation status."
                        },   
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },     
                        "acu_connection_status": {
                            "type": "string", 
                            "description": "This is the acu connection status."
                        },     
                        "gpu_connection_status": {
                            "type": "string", 
                            "description": "This is the gpu connection status."
                        },     
                        "engines_stop_status": {
                            "type": "string", 
                            "description": "This is the engines stop status."
                        },    
                        "jetbridge_connection_status": {
                            "type": "string", 
                            "description": "This is the jetbridge connection status."
                        },    
                        "door_opening_status": {
                            "type": "string", 
                            "description": "This is the door opening status."
                        },    
                        "passenger_disembarkation_status": {
                            "type": "string", 
                            "description": "This is the passenger disembarkation status."
                        },    
                        crew_exit_status:  {
                            "type": "string", 
                            "description": "This is the crew exit status." 
                        },
                        "baggage_unload_status": {
                            "type": "string", 
                            "description": "This is the baggage unload status."
                        },  
                        "ground_clearance_type": {
                            "type": "string", 
                            "description": "This is the type of clearance given to the aircrfat."
                        },         
                        "ground_clearance_status": {
                            "type": "string", 
                            "description": "This is the status of clearance given to the aircraft."
                        },       
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the runway assigned to the aircraft movement autorized by the clearance."
                        },                   
                    }, 
                    "required": [] 
                }
            },
            "class": "AirlineTurnaround.aircraft_taxiing.aircraft_taxiing.TrackerAPI" 
        }, 
    ],
}
