{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "Incoming flight AF84, a B747, needs clearance for landing.", 
            "Clear incoming flight AF84 for landing. The aircraft is a B747."
            "Incoming flight AF84, a B747, needs clearance for landing. It has fire and smoke in 2 engines.", 
            ""
        ]
    },

    "llm_config": {
        "model_name": "gpt-4o",
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "tools": [

        {
            "name": "air_traffic_orchestrator",
            "function": {
                "description": """
You are the air traffic orchestrator. 
You coordinate air traffic around the airport. 
You provide any information that is needed about landing clearance or runway. 
You share clearance details with the user as needed. 
                """
            },

            "instructions": """
You are the top-level agent responsible for giving clearance for aircraft landing or takeoff. 
In that role to provide users with clearance details when asked. 
Only perform the tasks that fall under your responsibility. 
DO NOT make things up. 
Use ONLY YOUR TOOLS to fulfill your tasks. 

When you receive a user request for clearance, 
1. Determine the followings information from prompt. 
- flight number as flight_number
- aircraft type as aircraft_type
- aircraft direction as incoming or departing as aircraft_direction 
2. Call trackerAPI and log all the available parameters. 
3. Call aircraft_traffic_controller to request clearance.
4. Display summary as follows: 
** aircraft direction **: [aircraft_direction]
** flight number **: [flight_number]
** aircraft type **: [aircraft_type]
** flight status **: [flight_status]
** clearance type **: [clearance_type]
** assigned runway id **: [assigned_runway_id]
** assigned runway length **: [assigned_runway_length]
** clearance report **: [clearance_report]
            """ ${aaosa_instructions},

            "parameters": {
                "type": "object", 
                "properties": {
                    "flight_number": {
                        "type": "string", 
                        "description": "This is the flight number of the incoming aicraft."
                    },   
                    "aircraft_type": {
                        "type": "string", 
                        "description": "This is the type of the incoming aircraft."
                    },      
                    "aircraft_direction": {
                        "type": "string", 
                        "description": "This is the direction of the aircraft: incoming or departing."
                    },           
                    "flight_status": {
                        "type": "string", 
                        "description": "This is the flight status"
                    },        
                    "clearance_type": {
                        "type": "string", 
                        "description": "This is the requested clearance type"
                    },       
                    "assigned_runway_id": {
                        "type": "string", 
                        "description": "This is the assigned runway id"
                    },       
                    "assigned_runway_length": {
                        "type": "string", 
                        "description": "This is the assigned runway length"
                    },      
                    "clearance_summary": {
                        "type": "dict", 
                        "description": "This is the clearance summary"
                    },  
                }, 
                "required": ["aircraft_direction","flight_number", "aircraft_type"] 
            },

            # Specify the sly data that would be exchanged between this network and its related or adjacent upstream and downstream networks. 
            "allow": {
                "from_upstream": {
                    "sly_data": {
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "aircraft_direction": true, 
                    }
                },

                "to_downstream": {
                    "sly_data": {
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "aircraft_direction": true,
                        "flight_status": true, 
                        "clearance_type": true, 
                        "assigned_runway": true, 
                        "runway_length": true, 
                    }
                },

                "to_upstream": {
                    "sly_data": {
                        "flight_number": true, 
                        "aircraft_type": true, 
                        "aircraft_direction": true,
                        "flight_status": true, 
                        "clearance_type": true, 
                        "assigned_runway_id": true,
                        "assigned_runway_length": true,
                    }
                },
            },

            "tools": ["aircraft_traffic_controller","trackerAPI"]
        },

        {
            "name": "aircraft_traffic_controller",
            "function": {

                "description": """
You are the air traffic controller. 
You manage air traffic around the airport. 
You make decision on request for landing landing. 
You can grant clearance, refuse clearance, or put clearance hold. 
                """
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },      
                        "aircraft_direction": {
                            "type": "string", 
                            "description": "This is the direction of the aircraft: incoming or departing."
                        },           
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status"
                        },    
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the requested clearance type"
                        },       
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the assigned runway id"
                        },       
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the assigned runway length"
                        },          
                    }, 
                    "required": ["aircraft_type", "flight_number", "aircraft_direction"] 
                },
            },

            "instructions": """
You are responsible for giving clearance to aircrafts for landing. 
Only perform the tasks that fall under your responsibility. 
DO NOT make things up. 
Use ONLY YOUR TOOLS to fulfill your tasks. 
Use the description of your tools to decide when to delegate. 
Return flight_status, clearance_type, assigned_runway_id, and assigned_runway_length
            """ ${aaosa_instructions},
            "tools":["air_clearance_agent"]
        },

        {
            "name": "air_clearance_agent",
            "function": {
                "description": """
This agent gives aircraft clearance for landing. 
                """, 
                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },      
                        "aircraft_direction": {
                            "type": "string", 
                            "description": "This is the direction of the aircraft: incoming or departing."
                        },           
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status"
                        },         
                        "clearance_type": {
                            "type": "string", 
                            "description": "This is the requested clearance type"
                        },       
                        "assigned_runway_id": {
                            "type": "string", 
                            "description": "This is the assigned runway id"
                        },       
                        "assigned_runway_length": {
                            "type": "string", 
                            "description": "This is the assigned runway length"
                        },     
                    }, 
                    "required": ["aircraft_type", "flight_number", "aircraft_direction"] 
                },
            }, 
            "class": "AirlineTurnaround.aircraft_traffic_controller.aircraft_traffic_controller.execute_air_clearance"
        }, 

        {
            "name": "trackerAPI",
            "function": {

                "description": """
I am the flight tracker in charge of logging parameters during aircraft turnaround. 
                """

                "parameters": {
                    "type": "object", 
                    "properties": {
                        "flight_number": {
                            "type": "string", 
                            "description": "This is the flight number of the incoming aicraft."
                        },   
                        "aircraft_type": {
                            "type": "string", 
                            "description": "This is the type of the incoming aircraft."
                        },     
                        "flight_status": {
                            "type": "string", 
                            "description": "This is the flight status."
                        },          
                        "gate_id": {
                            "type": "string", 
                            "description": "This is the gate assigned to the aircraft parking."
                        },     
                        "ground_services_request_type": {
                            "type": "string", 
                            "description": "This is the type of the inquiry received for grand services."
                        },         
                        "wheels_chocks_readiness_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks readiness status."
                        },   
                        "wheels_chocks_installation_status": {
                            "type": "string", 
                            "description": "This is the wheels chocks installation status."
                        },   
                        "gpu_readiness_status": {
                            "type": "string", 
                            "description": "This is the gpu readiness status."
                        },     
                        "acu_connection_status": {
                            "type": "string", 
                            "description": "This is the acu connection status."
                        },     
                        "gpu_connection_status": {
                            "type": "string", 
                            "description": "This is the gpu connection status."
                        },     
                        "engines_stop_status": {
                            "type": "string", 
                            "description": "This is the engines stop status."
                        },    
                        "jetbridge_connection_status": {
                            "type": "string", 
                            "description": "This is the jetbridge connection status."
                        },    
                        "door_opening_status": {
                            "type": "string", 
                            "description": "This is the door opening status."
                        },    
                        "passenger_disembarkation_status": {
                            "type": "string", 
                            "description": "This is the passenger disembarkation status."
                        },    
                        crew_exit_status:  {
                            "type": "string", 
                            "description": "This is the crew exit status." 
                        },
                        "baggage_unload_status": {
                            "type": "string", 
                            "description": "This is the baggage unload status."
                        },  
                    }, 
                    "required": [] 
                }
            },
            "class": "AirlineTurnaround.aircraft_traffic_controller.aircraft_traffic_controller.trackerAPI" 
        }, 
    ],
}
