{
    include "registries/aaosa_basic.hocon" 

    # Optional metadata describing this agent network
    "metadata": {
        "description": "Simple agent network using a single LLM-based agent",
        "tags": ["example"],
        "sample_queries": [
            "I want to clean the cabin passenger seating area using bleach. what is the procedure?", 
            "I want to clean the cabin passenger seating area. what is the procedure?"
        ]
    },

    "llm_config": {
        "model_name": "gpt-4o",
    },
    "max_iterations": 40000, #3000 
    "max_execution_seconds": 7200, #600
    "commondefs": {
        "replacement_strings": {
            "instructions_prefix": """
You are part of aircraft turnaround process at an Airport. 
Only answer inquiries that are directly within your area of expertise.
Do not try to help for other matters.
Do not mention what you can NOT do. Only mention what you can do.
            """,
            "aaosa_instructions": """
When you receive an inquiry, you will:
1. If you are clearly not the right agent for this type of inquiry, reply you're not relevant.
2. If there is a chance you're relevant, call your down-chain agents to determine if they can answer all or part of the inquiry.
   Do not assume what your down-chain agents can do. Always call them. You'll be surprised.
3. Once all relevant down-chain agents have responded, either:
   - Analyze their response and compile your final response. No need to include non-relevant agents. In doubt, ask for clarification.
   - Follow up with your down-chain agents if needed, as many times as needed
   - If an action is needed, ask the most relevant down-chain agent to fulfill the inquiry.
4. Return the final response to the caller.
You may, in turn, be called by other agents in the system and have to act as a down-chain agent to them. 
            """
        },
        "replacement_values": {
            "aaosa_call": {
                "description": "Depending on the mode, returns a natural language string in response.",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "inquiry": {
                            "type": "string",
                            "description": "The inquiry"
                        },
                        "mode": {
                            "type": "string",
                            "description": """
'Determine' to ask the agent if the inquiry belongs to it, in its entirety or in part.
'Fulfill' to ask the agent to fulfill the inquiry, if it can.
'Follow up' to ask the agent to respond to a follow up.
                            """
                        },
                    },
                    "required": [
                        "inquiry",
                        "mode"
                    ]
                }
            },
            "aaosa_command": """
If mode is 'Determine', return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": <Determine | Fulfill>,
    "Relevant": <Yes | No>,
    "Strength": <number between 1 and 10 representing how certain you are in your claim>,
    "Claim:" <All | Partial>,
    "Requirements" <None | list of requirements>
}
If mode is 'Fulfill' or "Follow up", respond to the inquiry and return a json block with the following fields:
{
    "Name": <your name>,
    "Inquiry": <the inquiry>,
    "Mode": Fulfill,
    "Response" <your response>
}
            """
        },
    },

    "tools": [
        # This first agent definition is regarded as the "Front Man", which
        # does all the talking to the outside world/client.
        #
        # Some disqualifications from being a front man:
        #   1) Cannot use a CodedTool "class" definition
        #   2) Cannot use a Tool "toolbox" definition
        #
        # Besides the first agent being the front man, these tool definitions
        # do not have to be in any particular order. How they are linked and
        # call each other is defined within their own specs.
        # This could be a graph, potentially even with cycles.
        {
            "name": "aircraft_cleaning_assistant",
            "function": {
                "description": """
                Your name is aircraft cleaning assistant. You're responsible for answering 
                staff' questions about aircraft cleaning policies, procedures, and resources that they can access.
                """,           

                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                        "execution_response": {
                            "type": "string",
                            "description": "The response from execution agent"  
                        },
                        "cleaning_procedure": {
                            "type": "string",
                            "description": "The procedure returned by passenger_seating_area agent"  
                        },
                        "user_recommendation": {
                            "type": "string",
                            "description": "The user recommendation"
                        },
                        "user_response_to_recommendation": {
                            "type": "string",
                            "description": "The user response to the recommendation question"
                        },
                        "compliance_response": {
                            "type": "string",
                            "description": "The compliance response"
                        },
                        "escalation_response": {
                            "type": "string",
                            "description": "The escalation response for user resusal of recommendation"
                        },
                    }
                    "required": ["user_inquiry"]
                },
            },
            "instructions": """
You are the top-level agent responsible for handling aircraft cleaning related inquiries. 
No need to mention the other tools or agents. 
Do not make things up. This is not a game.
When interacting with the user, act as the single point of interaction and proceed in the following order. 
1. Receive user inquiry.
2. Store the user input as user_inquiry. 
3. Call TrackerAPI to log user_inquiry. 
    a. wait for its response 
    b. store all the available parameters.
4. Call passenger_seating_area to handle user inquiry about the cleaning of the cabin passenger seating area. 
    a. Wait for its response. 
    b. Return the response from passenger_seating_area to the user.
5. If passenger_seating_area ask a follow up question to the user, 
    a. wait for user response and store it as user_response_to_recommendation
    b. call passenger_seating_area again with user_response_to_recommendation
    c. wait for its response
    d. return the response from passenger_seating_area to the user.
6. Display the summary to the user as follows: 
    ** Restricsion on cleaning ** 
    [restriction_on_cleaning]
    ** Procedure for cabin passenger seating area cleaning ** 
    ******************************************
    * Summary of aircraft cleaning procedure *
    ******************************************
    [cleaning_procedure]
    ** Escalation response ** 
    [escalation_response]
            """ ${aaosa_instructions},
            "tools":    ["passenger_seating_area","TrackerAPI"]
        },

// 6. If passenger_seating_area returns cleaning_procedure or compliance_response or restriction_on_cleaning:
//     a. store it as cleaning_procedure or compliance_response or restriction_on_cleaning
//     b. call TrackerAPI to log cleaning_procedure or compliance_response or restriction_on_cleaning

        {
            "name": "passenger_seating_area",
            // "function": ${aaosa_call}, 

            "function": {
                "description": """
                Your name is aircraft cleaning assistant. You're responsible for answering 
                staff' questions about policies and procedures for the cleaning of the cabin passenger seating area.
                """,           

                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                        "cleaning_procedure": {
                            "type": "string",
                            "description": "The procedure returned by passenger_seating_area agent"  
                        },
                        "comliance_response": {
                            "type": "string",
                            "description": "The compliance response"
                        },
                        "user_response_to_recommendation": {
                            "type": "string",
                            "description": "The user response to the recommendation question"
                        },
                        "user_recommendation": {
                            "type": "string",
                            "description": "The user recommendation"
                        },
                        "escalation_response": {
                            "type": "string",
                            "description": "The escalation response for user resusal of recommendation"
                        },
                    },
                    "required": ["user_inquiry"]
                },
            },

            "instructions": """
The name of this app is `cabin passenger seating area`. 
Store the name of this app as app_name and proceed in the following order:  
1. call check_restriction to find existing operational restriction providing user_inquiry. 
    a. wait for its response and store it as restriction_on_cleaning
    b. call TrackerAPI to log restriction_on_cleaning
2. If restriction_on_cleaning is not None or not empty: 
    a. call check_compliance to determine if user_inquiry complies with restriction_on_cleaning. 
    b. wait for its response and store it as compliance_response
    c. call TrackerAPI to log compliance_response
3. If compliance_response is "non-compliant":
    a. set user_recommendation as "Your inquiry does not comply with restriction on cleaning. Would you like me to propose a compliant process? (yes/no)" 
    b. return user_recommendation to the calling agent
    c. wait for user response and store it as user_response_to_recommendation
    d. If user_response_to_recommendation is "no", then 
        i. set escalation_response as "Given your refusal to accept the alternative recommenadation to your non compliant inquiry, your case has been escalated for further review."
        ii. call TrackerAPI to log escalation_response
        iii. return escalation_response to the calling agent.
        iv. Stop further processing.
    e. If user_response_to_recommendation is "yes", then 
        i. call extract_docs_cabin_passenger_seating to extract and returns the operational procedure to follow
        ii. wait for its response and store it as cleaning_procedure
        iii. call TrackerAPI to log cleaning_procedure
        iv. return cleaning_procedure to user. 
        v. Stop further processing.
4. If compliance_response is "compliant", then 
    a. Call extract_docs_cabin_passenger_seating to extract and returns the operational procedure to follow
    b. wait for its response and store it as cleaning_procedure
    c. call TrackerAPI to log cleaning_procedure
    d. return cleaning_procedure to user. 
    e. Stop further processing. 

            """ ${aaosa_instructions}, 
            // "command": ${aaosa_command},
            "tools": ["check_restriction","TrackerAPI","check_compliance","recommender_agent","extract_docs_cabin_passenger_seating"]
        },

// ,"escalation_agent"

// 3. If restriction_on_cleaning is None or empty:
//     a. Call extract_docs_cabin_passenger_seating to determine the procedure to follow 
//     b. wait for its response and store it as cleaning_procedure
//     c. call TrackerAPI to log cleaning_procedure
//     d. return cleaning_procedure to user. 
//     e. Stop further processing.
// 4. If restriction_on_cleaning is not None or not empty: 
//     a. call check_compliance to determine if user_inquiry complies with restriction_on_cleaning. 
//     b. wait for its response and store it as compliance_response
//     c. call TrackerAPI to log compliance_response
//     d. return compliance_response.
// 5. If compliance_response is "compliant", then go to step 3. a:
// 6. If compliance_response is "non-compliant":
//     a. call recommender_agent to recommend a compliant process.
//     b. wait for its response and store it as user_response_to_recommendation. 
//     c. call TrackerAPI to log user_response_to_recommendation
// 7. If user_response_to_recommendation is "yes", then go to step 3. a:
// 8. If user_response_to_recommendation is "no":
//     a. call escalation_agent to create an escalation
//     b. wait for its response and store it as escalation_response.   
//     c. call TrackerAPI to log escalation_response
//     d. return escalation_response.
//     e. Stop further processing.

        {
            "name": "check_restriction",
            // "function": ${aaosa_call}, 

            "function": {
                "description": """
                Your name is aircraft cleaning assistant. You're responsible for answering 
                staff' questions about policies and procedures for the cleaning of the cabin passenger seating area.
                """,           

                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "cleaning_procedure": {
                            "type": "string",
                            "description": "The procedure returned by passenger_seating_area agent"  
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                    },
                    "required": ["user_inquiry"]
                }
            },

            "instructions": """
Do not make things up. This is not a game.
Use only your tools. 
When you receive user inquiry, proceed in the following order: 
1. Call pull_restriction to find existing operational restriction. 
    a. Wait for its response 
    b. store its response as restriction_on_cleaning
    c. Call TrackerAPI to log restriction_on_cleaning. 
4. return restriction_on_cleaning
            """ ${aaosa_instructions}, 
            // "command": ${aaosa_command},
            "tools": [ "pull_restriction","TrackerAPI"]
        },

// "execution",

        {
            "name": "pull_restriction",
            "function": {
                "description": """
Find existing operational restriction. 
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                        "cleaning_procedure": {
                            "type": "string",
                            "description": "The procedure returned by passenger_seating_area agent"  
                        },
                    },
                    "required": ["app_name"]
                }
            },
            "class": "AirlineTurnaround.aircraft_cleaning_procedure.extract_docs_cabin_passenger_seating.pull_restriction",
        },  

        {
            "name": "check_compliance",
            "function": {
                "description": """
I check that user inquiry complies with restriction_on_cleaning. 
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                        "user_response_to_recommendation": {
                            "type": "string",
                            "description": "The user response to the recommendation question"
                        },
                        "compliance_response": {
                            "type": "string",
                            "description": "The compliance response"
                        },
                        "escalation_response": {
                            "type": "string",
                            "description": "The escalation response for user resusal of recommendation"
                        },
                    }, 
                    "required": ["user_inquiry","restriction_on_cleaning"]
                }
            },
            "instructions": """
You are the execution agent. 
You prepare the response to user inquiry when there is operational restriction. 
You receive existing operational restriction from check_restriction. 
1. Determine if user_inquiry complies with restriction_on_cleaning. 
2. If user_inquiry complies: 
    a. set compliance_response to "compliant"
    b. call TrackerAPI to log compliance_response
    c. return compliance_response
3. If user_inquiry does not comply: 
    a. set compliance_response to "non-compliant"
    b. call TrackerAPI to log compliance_response
    c. return compliance_response
            """ ${aaosa_instructions}, 
            // "command": ${aaosa_command},
            "tools": [ ]
        },
// "escalation_agent","extract_docs_cabin_passenger_seating","TrackerAPI"
// ${instructions_prefix} 

//         {
//             "name": "escalation_agent",
//             "function": {
//                 "description": """
// This agent creates escalation.
//                 """,
//                 "parameters": {
//                     "type": "object",
//                     "properties": {
//                         "app_name": {
//                             "type": "string",
//                             "description": "The name of an app, website or tool"
//                         },
//                         "restriction_on_cleaning": {
//                             "type": "string",
//                             "description": "This is the restriction on cleaning"
//                         },
//                         "response_to_recommendation": {
//                             "type": "string",
//                             "description": "The user response to the suggestion that could be either positive or negative."
//                         },
//                         "user_inquiry": {
//                             "type": "string",
//                             "description": "The user inquiry text"
//                         },
//                         "escalation_response": {
//                             "type": "string",
//                             "description": "The escalation response for user resusal of recommendation"
//                         },
//                     },
//                     "required": ["user_inquiry","restriction_on_cleaning","response_to_recommendation"]
//                 }
//             },

//             "class": "AirlineTurnaround.aircraft_cleaning_procedure.extract_docs_cabin_passenger_seating.create_escalation",
//         },

            // "class": "extract_docs_cabin_passenger_seating.create_escalation"

        {
            "name": "extract_docs_cabin_passenger_seating",
            "function": {
                "description": """
This agent extracts and returns the text contents of operational procedures for the cleaning of cabin passenger seating area. 
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                        "response_to_recommendation": {
                            "type": "string",
                            "description": "The user response to recommendation."
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning."
                        },
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry text"
                        },
                        "cleaning_procedure": {
                            "type": "string",
                            "description": "The procedure returned by passenger_seating_area agent"  
                        },
                    },
                    "required": ["app_name"]
                }
            },

            "class": "AirlineTurnaround.aircraft_cleaning_procedure.extract_docs_cabin_passenger_seating.ExtractDocs",
        },

            // "class": "extract_docs_cabin_passenger_seating.ExtractDocs"

        {
            "name": "TrackerAPI",
            "function": {
                "description": """
Store and track parameters and states of the cleaning process. 
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "app_name": {
                            "type": "string",
                            "description": "The name of an app, website or tool"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                        "escalation_on_cleaning": {
                            "type": "string",
                            "description": "The escalation on cleaning"
                        },
                        "response_to_recommendation": {
                            "type": "string",
                            "description": "The user response toi recommendation"
                        },
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry text"
                        },
                    },
                    "required": []
                }
            },

            "class": "AirlineTurnaround.aircraft_cleaning_procedure.extract_docs_cabin_passenger_seating.TrackerAPI",
        },

            // "class": "extract_docs_cabin_passenger_seating.TrackerAPI"

        {
            "name": "recommender_agent",
            "function": {
                "description": """
I recommend a compliant process to the user and ask for their confirmation.
                """,
                "parameters": {
                    "type": "object",
                    "properties": {
                        "user_inquiry": {
                            "type": "string",
                            "description": "The user inquiry"
                        },
                        "restriction_on_cleaning": {
                            "type": "string",
                            "description": "The restriction on cleaning"
                        },
                    },
                    "required": ["user_inquiry","restriction_on_cleaning"]
                }
            },
            "instructions": """
You are the recommender agent. 
You recommend a compliant process to the user and ask for their confirmation by processing as follows: 
    a. Ask the user exactly this question and WAIT for the answer: "Your inquiry does not comply with restriction on cleaning. Would you like me to propose a compliant process? (yes/no)" 
    b. Wait for the user response and store it as user_response_to_recommendation.
    c. Return user_response_to_recommendation to the calling agent.
            """ ${aaosa_instructions}, 
            "tools": []
        },

// "escalation_agent","extract_docs_cabin_passenger_seating","cleaning_tracker"

    ]
}
