    # This set of agent networks is used for aircraft turnaround managemet at airports. 
    # Each agent network applies to a different phase of the turnaround process, and it can be called separately or as part of an overall orchestration. 
    # They are also subnetworks of the turnaround_orchestration.hocon agent network.
    # To use these agent networks, ensure that you have the necessary configurations and tools in place for airport operations management.

{   
    "AirlineTurnaround/aircraft_baggage_unload.hocon": true, 
    "AirlineTurnaround/aircraft_cabin_cleaning.hocon": true, 
    "AirlineTurnaround/aircraft_catering_loading.hocon": true, 
    "AirlineTurnaround/aircraft_cleaning_procedure.hocon": true, 
    "AirlineTurnaround/aircraft_disembark.hocon": true, 
    "AirlineTurnaround/aircraft_door_opening.hocon": true,
    "AirlineTurnaround/aircraft_crew_debrief.hocon": true, 
    "AirlineTurnaround/aircraft_crew_exit.hocon": true, 
    "AirlineTurnaround/aircraft_engines_stop.hocon": true, 
    "AirlineTurnaround/aircraft_inspection_maintenance.hocon": true, 
    "AirlineTurnaround/aircraft_jetbridge_connect.hocon": true, 
    "AirlineTurnaround/aircraft_fueling.hocon": true, 
    "AirlineTurnaround/aircraft_gate_selection.hocon": true, 
    "AirlineTurnaround/aircraft_ground_traffic.hocon": true,  
    "AirlineTurnaround/aircraft_landing.hocon": true, 
    "AirlineTurnaround/aircraft_lavatory_service.hocon": true, 
    "AirlineTurnaround/aircraft_taxiing.hocon": true, 
    "AirlineTurnaround/aircraft_traffic_controller.hocon": true,
    "AirlineTurnaround/aircraft_turnaround.hocon": true, 
    "AirlineTurnaround/aircraft_turnaround_B5ClaudeFixAt0207AM.hocon": false, 
    "AirlineTurnaround/aircraft_turnaround_B5ClaudeFixAt0218AM.hocon": false, 
    "AirlineTurnaround/aircraft_turnaround_old20260422.hocon": false, 
    "AirlineTurnaround/aircraft_turnaround_old20260417.hocon": false, 
    "AirlineTurnaround/aircraft_ground_acu_connect.hocon": true,
    "AirlineTurnaround/aircraft_ground_acu_setup.hocon": true, 
    "AirlineTurnaround/aircraft_ground_gpu_connect.hocon": true, 
    "AirlineTurnaround/aircraft_ground_gpu_setup.hocon": true, 
    "AirlineTurnaround/aircraft_ground_wheels_chocks_install.hocon": true, 
    "AirlineTurnaround/aircraft_ground_wheels_chocks_setup.hocon": true, 
    "AirlineTurnaround/aircraft_ground_readiness.hocon": true, 
    "AirlineTurnaround/aircraft_ground_rampservices.hocon": true, 
    "AirlineTurnaround/aircraft_crew_pilot.hocon": true, 
    "AirlineTurnaround/aircraft_crew_cabin.hocon": true,
    "AirlineTurnaround/aircraft_gate_services.hocon": true,
    "AirlineTurnaround/aircraft_ground_servicing.hocon": true, 
    "AirlineTurnaround/aircraft_cabin_services.hocon": true, 
    "AirlineTurnaround/aircraft_stairtruck_connect.hocon": true,
    "AirlineTurnaround/aircraft_ground_operation.hocon": true
}

#    "AirlineTurnaround/aircraft_disembark.hocon": true, 
#    "AirlineTurnaround/aircraft_door_opening.hocon": true, 

#     "AirlineTurnaround/aircraft_acu_connect.hocon": true, 
#    "AirlineTurnaround/aircraft_ground_services.hocon": true,